<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="8">
    <test verbose="2"
          name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.epam.aqa.ht5.AsosTest">
            </class>
        </classes>
    </test>
    <test verbose="2"
          name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.epam.aqa.ht5.AsosTest">
            </class>
        </classes>
    </test>
</suite>